.sign {
  position: relative;
  transform: translate(0, -10%);
  background-color: rgba(0, 0, 0, 0.85);
  /* padding: 40px 60px; */
  padding: 70px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.sign > h1 {
  text-align: left;
}
.sign > form {
  display: grid;
  flex-direction: column;
  margin-top: 15px;
}

.sign > form > input {
  padding: 5px 15px;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.button {
  padding: 16px 20px;
  width: 100%;
  background-color: #e50914;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.sign > form > h4 {
  text-align: left;
  margin-top: 30px;
}
.gray {
  color: gray;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}
