.nav {
  position: fixed;
  /* background-color: #111; */
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.background {
  background-color: #111;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: fixed;
  object-fit: contain;
  cursor: pointer;
  top: 10px;
  left: 0;
  width: 80px;
  padding-left: 20px;
}

.profile {
  position: fixed;
  cursor: pointer;
  right: 20px;
  width: 30px;
}
